{% extends 'accounts/header.html' %}

{% block body %}
<div class="continer-fluid">
    <form method="post">
        <h1>Create a new Gig</h1>
        {% csrf_token %}
        {{form1.as_p}}
        {{form2.as_p}}
        {{form3.as_p}}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}

{% block scripts %}

<script>
    var getLocation = function () {
        var autocomplete = new google.maps.places.Autocomplete(location_input);
    }
</script>

<script>
    var location_input = document.getElementById('id_form2-address1');
    location_input.addEventListener('input', getLocation, true);
</script>

<script>
    function generateKeySrc() {
        var s = document.createElement('script');
        var src = "https://maps.googleapis.com/maps/api/js?key=" + "{{google_api_key }}" + "&libraries=places&callback=getLocation";
        s.setAttribute('src', src);
        document.body.appendChild(s);
    }
    generateKeySrc();
</script>
{% endblock %}