{% extends 'accounts/header.html' %}

{% block body %}
<p>Start Address: {{start}}</p>
<p>Destination Address: {{destination}}</p>
<iframe width="600"
        height="450"
        frameborder="0" style="border:0"
        src="{{red_url}}" allowfullscreen>
</iframe>
<form method="post">
    {% csrf_token %}
    <!--<input type="checkbox" value="1" checked name="checkin" id="id_checkin" hidden/>-->
    <button type="submit" class="btn btn-success">Checkin</button>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}